<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>ru.nsu.ccfit.kushner.da.lab1.MainServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>imageUpload</servlet-name>
        <servlet-class>ru.nsu.ccfit.kushner.da.lab1.UploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>imageUpload</servlet-name>
        <url-pattern>/imageUpload</url-pattern>
    </servlet-mapping>

</web-app>
